@media screen and (min-width: 1343px) and (max-width: 2088px){
    #side-quote {
        font-size: 35px;
    }

    .add {
        font-size: 22px;
    }

    .btn {
        font-size: 23px;
    }
}

@media screen and (max-width: 1343px) {
    #home-box img {
        height: 317px;
    }

    #home-box::before {
        height: 260px;
    }

    #head {
        font-size: 37px;
        padding-bottom: 20px;
    }

    #designation img {
        height: auto;
        width: 378px;
    }
    
    #side-quote {
        font-size: 23px;
        padding: 100px 45px;
    }

    #info {
        padding-top: 17px;
    }

    .add {
        font-size: 18px;
        padding: 6px 0px;
    }

    .btn {
        font-size: 20px;
    }

    #mid-box {
        height: 533px;
    }

    #mid-box::before {
        height: 716px;
    }

    #contact::before {
        height: 219px;
    }
}

@media screen and (max-width:1061px) {

    #home-box::before{
        height: 213px;
    }

    #home-box img{
        height: 247px;
    }

    #name {
        font-size: 42px;
        padding: 5px;
    }

    /* #h-primary {
        font-size: 2.5rem;
    } */

    #mid-box {
        flex-direction: column;
        align-items: center;
        height: 821px;
    }

    #head {
        font-size: 30px;
        padding-bottom: 18px;
        text-align: center;
    }

    #mid-box::before {
        height: 808px;
    }

    /* #designation {
        margin: 2px 0;
        padding-top: 10px;
    } */

    #designation img{
        
        width: 402px;
        height: auto;
    }

    #side-quote {
        padding: 20px 1px;
        font-size: 25px;
        text-align: center;
    }
    
    #info {
        padding: 13px 3px;
    }
    

    #contact::before {
        height: 167px;
    }

    #social {
        padding: 10px;
    }

    #social a {
        font-size: 52px;
    }


}

@media  screen and (max-width: 764px) {

    #home-box img {
        height: 200px;
        border: 4px solid white;
    }

    #home-box::before {
        height: 179px;
    }

    #name {
        font-size: 37px;
    }

    #mid-box {
        height: 718px;
    }

    #head {
        font-size: 25px;
    }

    #mid-box::before {
        height: 699px;
    }

    #designation img {
        width: 321px;
        height: auto;
    }

    #side-quote {
        padding: 20px 1px;
        font-size: 20px;
        text-align: center;
    }

    .add {
        font-size: 15px;
    }

    .add span {
        font-size: 16px;
    }

    .btn {
        font-size: 17px;
    }
    
    #social a {
        font-size: 2.5em;
    }

    #email {
        font-size: 20px;
    }
    
}

@media screen and (max-width: 671px) {
    #home-box img {
        height: 189px;
        border: 4px solid white;
    }

    #home-box::before {
        height: 175px;
    }

    #name {
        font-size: 33px;
    }

    #mid-box {
        height: 670px;
    }

    #head {
        font-size: 22px;
    }

    #mid-box::before {
        height: 657px;
    }

    .btn {
        font-size: 15px;
    }

    #designation img {
        width: 287px;
        height: auto;
    }

    #side-quote {
        padding: 20px 1px;
        font-size: 18px;
        text-align: center;
    }

    #info {
        padding: 13px 20px;
    }

    .add {
        font-size: 13px;
    }

    .add span {
        font-size: 14px;
    }

    #cv {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #cv a {
        width: 70%;
    }

    #contact::before {
        height: 142px;
    }

    #social a {
        font-size: 2em;
    }

    #email {
        font-size: 18px;
    }
}

@media screen and (max-width: 549px) {
    #home-box img {
        height: 173px;
        border: 4px solid white;
    }

    #home-box::before {
        height: 157px;
    }

    #name {
        font-size: 29px;
    }

    #mid-box {
        height: 630px;
    }

    #head {
        font-size: 20px;
    }

    #mid-box::before {
        height: 621px;
    }

    #designation img {
        width: 263px;
        height: auto;
    }

    #side-quote {
        padding: 20px 1px;
        font-size: 16px;
        text-align: center;
    }

    #info {
        padding: 13px 3px;
    }

    .add {
        font-size: 12px;
    }

    #cv {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #cv a {
        width: 90%;
    }

    .add span {
        font-size: 14px;
    }

    #contact::before {
        height: 132px;
    }

    #social a {
        font-size: 2em;
    }

    #email {
        font-size: 17px;
    }
    
}

@media screen and (min-width: 480px) and (max-width: 522px) {
    #home-box img {
        height: 147px;
        border: 4px solid white;
    }

    #home-box::before {
        height: 133px;
    }

    #name {
        font-size: 27px;
    }

    #mid-box {
        height: 587px;
    }

    #head {
        font-size: 20px;
    }

    #mid-box::before {
        height: 576px;
    }

    #designation img {
        width: 227px;
        height: auto;
    }

    #side-quote {
        padding: 20px 1px;
        font-size: 13px;
        /* text-align: center; */
    }

    #info {
        padding: 13px 0px;
    }

    .add {
        font-size: 12px;
    }

    .add span {
        font-size: 14px;
    }

    #cv {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #cv a {
        width: 80%;
    }

    #cv .material-icons {
        font-size: 19px;
    }

    .btn {
        font-size: 13px;
    }

    #contact::before {
        height: 132px;
    }

    #social a {
        font-size: 1.5em;
    }

    #email {
        font-size: 16px;
    }
}

@media screen and (min-width: 445px) and (max-width: 480px) {
    #home-box img {
        height: 147px;
        border: 4px solid white;
    }

    #home-box::before {
        height: 133px;
    }

    #name {
        font-size: 27px;
    }

    #mid-box {
        height: 622px;
    }

    #head {
        font-size: 20px;
    }

    #mid-box::before {
        height: 600px;
    }

    #designation img {
        width: 237px;
        height: auto;
    }

    #side-quote {
        padding: 20px 0px;
        font-size: 13px;
        /* text-align: center; */
    }

    #info {
        padding: 13px 0px;
    }

    .add {
        font-size: 12px;
    }

    .add span {
        font-size: 14px;
    }

    #cv {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #cv a {
        margin-top: -10px;
        width: 100%;
    }

    #cv .material-icons {
        font-size: 19px;
    }

    .btn {
        font-size: 13px;
    }

    #contact::before {
        height: 132px;
    }

    #social a {
        font-size: 30px;
        padding: 10px 20px;
    }

    #email {
        font-size: 16px;
    }
}

@media screen and (min-width: 320px) and (max-width: 445px) {
    #home-box img {
        height: 147px;
        border: 4px solid white;
    }

    #home-box::before {
        height: 133px;
    }

    #name {
        font-size: 27px;
    }

    #mid-box {
        height: 594px;
    }

    #head {
        font-size: 20px;
    }

    #mid-box::before {
        height: 573px;
    }

    #designation img {
        width: 237px;
        height: auto;
    }

    #side-quote {
        width: 231px;
        padding: 20px 0px;
        font-size: 15px;
    }

    #info {
        padding: 13px 0px;
    }

    .add {
        font-size: 12px;
    }

    .add span {
        font-size: 14px;
    }

    #cv {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #cv a {
        margin-top: -10px;
        width: 61%;
    }

    #cv .material-icons {
        font-size: 17px;
    }

    .btn {
        font-size: 12px;
    }

    #contact::before {
        height: 132px;
    }

    #social a {
        font-size: 30px;
        padding: 10px 20px;
    }

    #email {
        font-size: 16px;
    }
}