*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

/* #navbar {
    border: 1px solid black;
} */

body{
    scroll-behavior: smooth;
}

#home-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

#home-box img{
    height: 397px;
    border-radius: 50%;
    cursor: pointer;
    /* border: 8px solid white; */
}

#home-box::before {
    content: "";
    /* background-color: rgba(209, 214, 198, 0.6); */
    background: linear-gradient(to top, rgba(255,250,250),rgba(196,198,183));
    position: absolute;
    top: 0;
    left: 0;
    /* height: 339px; */
    height: 532px;
    width: 100%;
    z-index: -1;
}

#name {
    padding: 17px;
    color: rgb(74, 111, 150);
    font-weight: 600;
}

#mid-box {
    display: flex;
    padding: 0 150px;
    height: 770px;
}

#mid-box::before{
    content: "";
    display: table;
    position: absolute;
    background: linear-gradient(rgba(255,250,250),rgba(196,198,183));
    left: 0;
    height: 730px;
    width: 100%;
    z-index: -1;
}

#designation {
    /* padding-left: 200px; */
    padding-top: 35px;
    font-weight: 300;
}

#head {
    padding-bottom: 40px;
    font-size: 3rem;
}

#head span {
    font-weight: 600;
}

#designation img {
    display: block;
    margin: auto;
    height: 508px;
}

#side-quote {
    display: flex;
    flex-direction: column;
    padding: 50px;
    padding-top: 123px;
    font-size: 2.5rem;
    font-weight: 300;
}

#info {
    font-size: 1.5rem;
    padding-top: 15px;
}

.add {
    display: flex;
    align-items: center;
    padding: 10px;
    padding-left: 22px;
}

.material-icons {
    display: flex;
    align-items: center;
    padding: 0 7px;
}

#cv {
     margin: 20px 7px;
}

#cv a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

#cv .material-icons {
    font-size: 28px;
}

.btn{
    padding: 10px;
    font-size: 25px;
    background-color: rgb(93, 142, 232);
    text-decoration: none;
    color: black;
    font-weight: 400;
    border: none;
    border-radius: 8px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    transition: 0.5s;
}

.btn:hover{
    background-color: rgb(65, 109, 204);
}

#contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contact::before{
    content: "";
    position: absolute;
    background: url("contact-bg.jpg") no-repeat center center/cover;
    left: 0;
    width: 100%;
    height: 294px;
    z-index: -1;
    opacity: 0.8;
}

#social {
    padding: 40px;
}


#social a {
    text-decoration: none;
    padding: 20px 30px;
    /* padding-bottom: 10px; */
    transition: 0.4s;
}

#social a:hover{
    transform: translate3d(0px,-5px,0px);
}

#social .fa-github:hover{
    color: #24292e;
}

#social .fa-linkedin:hover{
    color: #0e76a8;
}

#social .fa-facebook:hover{
    color: #4267B2;
}

.fa {
    display: inline-block;
    color: rgb(255, 255, 255);
}


.h-primary {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 3.5rem;
}

.h-secondary {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
}

#email {
    font-size: 1.5rem;
    font-weight: bold;
    color: #e6d9c8;
}

#email a {
    text-decoration: none;
    color: white;
    font-style: italic;
    transition: 0.4s;
}

#email a:hover{
    color: black;
}

.center {
    text-align: center;
}