@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
    html::-webkit-scrollbar {
        width: 0;
    }
    html{
        scroll-behaviour: smooth;
    }
    h1{
        font-family: "Futura Bk BT";
    }
}
